results/obj_pairs_data/ADEK20K/segmentation_report_with_scores-trainset_True.csv filter=lfs diff=lfs merge=lfs -text
results/graphs/ADEK20K/ADEK20K_nodeuniform_object_anchor_diag_edgeuniform_distance_phraseprop_angle_graphs.json filter=lfs diff=lfs merge=lfs -text
results/graphs/ADEK20K/ADEK20K_nodeuniform_object_anchor_diag_word2vec_edgeuniform_distance_phraseprop_angle_binary_weighted-False_graphs.json filter=lfs diff=lfs merge=lfs -text
